# Game Files
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json

# Project Builds
.gradle
.settings
/run/
/build/
/bin/
/out/

# Intermediate Sources
src/main/resources/mixins.*([!.]).json
*.bat
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts

# IntelliJ IDEA
/.idea/
*.iml
*.ipr
*.iws

# VS Code
/.vscode/

# Eclipse
/eclipse/
.classpath
.project

# Nix
/result

# OSX Garbage
*.DS_Store
